# altair
pandas
streamlit
watchdog
langchain
# git+https://github.com/hwchase17/langchain.git@master#egg=langchain
openai
# wolframalpha
python-dotenv
# google-search-results
google-cloud-bigquery[pandas]
google-api-python-client==2.70.0
google-auth-httplib2
google-auth-oauthlib
ipykernel
# matplotlib
plotly
# jupyterlab
pytest
# notebook
# ipywidgets
pandas
numpy
# pyarrow
# PyPDF2
unstructured
# chromadb
lxml
tiktoken
flask_sqlalchemy
sqlalchemy-bigquery[bqstorage]
# pinecone-client
# faiss-cpu
deeplake
