# LLMs
langchain==0.0.223
# git+https://github.com/hwchase17/langchain.git@master#egg=langchain
openai
guardrails-ai

# Streamlit
streamlit==1.25.0
streamlit-elements==0.1.0
# streamlit_cookies_manager==0.2.0

# Google Cloud Platform
httpx_oauth==0.13.0
google-cloud-bigquery[pandas]
google-api-python-client==2.70.0
google-auth-httplib2
google-auth-oauthlib
firebase
firebase-admin

# Data science
plotly
pandas
scipy
scikit-learn
numpy
statsmodels

# Discord bot
discord
kaleido

# Mischeallaneous

# altair
watchdog

# wolframalpha
python-dotenv
# google-search-results
ipykernel
# jupyterlab
pytest
pytest-xdist
# notebook
# ipywidgets
pandas
numpy
# pyarrow
# PyPDF2
unstructured
# chromadb
lxml
tiktoken
flask_sqlalchemy
sqlalchemy-bigquery[bqstorage]
# pinecone-client
# faiss-cpu
deeplake
networkx
pg8000
pulumi
pulumi_gcp
gitignore_parser
