env_variables:
  ENV: "PRODUCTION"
  PROJECT: "DEFAULT"
  DEBUG: "False"
  DISPLAY_USER_UPDATES: "False"
  MAINTENANCE_MODE: "False"
  OPENAI_API_KEY: "..."
  OPENAI_MODEL: "..."
  DEFAULT_MODEL_TEMPERATURE: "0.0"
  # Discord
  DISCORD_TOKEN: "..."
  # Basic auth
  PASSWORD: "..."
