env_variables:
  PROJECT: "DEFAULT"
  DEBUG: "False"
  DISPLAY_USER_UPDATES: "False"
  MAINTENANCE_MODE: "False"
  OPENAI_API_KEY: "..."
  OPENAI_MODEL: "..."
  ACTIVELOOP_TOKEN: "..."
  # Discord
  DISCORD_TOKEN: "..."
  DEFAULT_DATASET: "..."
