env_variables:
  # General
  CHARTGPT_API_HOST: "https://chartgpt-api-staging.***REMOVED***"
  CHARTGPT_API_KEY:
  
  # Discord
  DISCORD_TOKEN:

  # Slack
  SLACK_APP_TOKEN:
  SLACK_BOT_TOKEN:

  # Telegram
  TELEGRAM_BOT_TOKEN:
  TELEGRAM_ADMIN_USERNAME:
