# coding: utf-8

"""
    ChartGPT API

    The ChartGPT API is a REST API that generates insights from data based on natural language questions.

    The version of the OpenAPI document: 0.1.0
    Generated by OpenAPI Generator (https://openapi-generator.tech)

    Do not edit the class manually.
"""  # noqa: E501


import io
import re  # noqa: F401
import warnings

from chartgpt_client.api_client import ApiClient
from chartgpt_client.api_response import ApiResponse
from chartgpt_client.exceptions import (ApiTypeError,  # noqa: F401
                                        ApiValueError)
from chartgpt_client.models.api_request_ask_chartgpt_request import \
    ApiRequestAskChartgptRequest
from chartgpt_client.models.response import Response
from pydantic import ValidationError, validate_arguments
from typing_extensions import Annotated


class DefaultApi(object):
    """NOTE: This class is auto generated by OpenAPI Generator
    Ref: https://openapi-generator.tech

    Do not edit the class manually.
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient.get_default()
        self.api_client = api_client

    @validate_arguments
    def api_request_ask_chartgpt(
        self, api_request_ask_chartgpt_request: ApiRequestAskChartgptRequest, **kwargs
    ) -> Response:  # noqa: E501
        """Ask ChartGPT a question  # noqa: E501

        This endpoint takes a question and returns a response.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True

        >>> thread = api.api_request_ask_chartgpt(api_request_ask_chartgpt_request, async_req=True)
        >>> result = thread.get()

        :param api_request_ask_chartgpt_request: (required)
        :type api_request_ask_chartgpt_request: ApiRequestAskChartgptRequest
        :param async_req: Whether to execute the request asynchronously.
        :type async_req: bool, optional
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :return: Returns the result object.
                 If the method is called asynchronously,
                 returns the request thread.
        :rtype: Response
        """
        kwargs["_return_http_data_only"] = True
        if "_preload_content" in kwargs:
            raise ValueError(
                "Error! Please call the api_request_ask_chartgpt_with_http_info method with `_preload_content` instead and obtain raw data from ApiResponse.raw_data"
            )
        return self.api_request_ask_chartgpt_with_http_info(
            api_request_ask_chartgpt_request, **kwargs
        )  # noqa: E501

    @validate_arguments
    def api_request_ask_chartgpt_with_http_info(
        self, api_request_ask_chartgpt_request: ApiRequestAskChartgptRequest, **kwargs
    ) -> ApiResponse:  # noqa: E501
        """Ask ChartGPT a question  # noqa: E501

        This endpoint takes a question and returns a response.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True

        >>> thread = api.api_request_ask_chartgpt_with_http_info(api_request_ask_chartgpt_request, async_req=True)
        >>> result = thread.get()

        :param api_request_ask_chartgpt_request: (required)
        :type api_request_ask_chartgpt_request: ApiRequestAskChartgptRequest
        :param async_req: Whether to execute the request asynchronously.
        :type async_req: bool, optional
        :param _preload_content: if False, the ApiResponse.data will
                                 be set to none and raw_data will store the
                                 HTTP response body without reading/decoding.
                                 Default is True.
        :type _preload_content: bool, optional
        :param _return_http_data_only: response data instead of ApiResponse
                                       object with status code, headers, etc
        :type _return_http_data_only: bool, optional
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :param _request_auth: set to override the auth_settings for an a single
                              request; this effectively ignores the authentication
                              in the spec for a single request.
        :type _request_auth: dict, optional
        :type _content_type: string, optional: force content-type for the request
        :return: Returns the result object.
                 If the method is called asynchronously,
                 returns the request thread.
        :rtype: tuple(Response, status_code(int), headers(HTTPHeaderDict))
        """

        _params = locals()

        _all_params = ["api_request_ask_chartgpt_request"]
        _all_params.extend(
            [
                "async_req",
                "_return_http_data_only",
                "_preload_content",
                "_request_timeout",
                "_request_auth",
                "_content_type",
                "_headers",
            ]
        )

        # validate the arguments
        for _key, _val in _params["kwargs"].items():
            if _key not in _all_params:
                raise ApiTypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method api_request_ask_chartgpt" % _key
                )
            _params[_key] = _val
        del _params["kwargs"]

        _collection_formats = {}

        # process the path parameters
        _path_params = {}

        # process the query parameters
        _query_params = []
        # process the header parameters
        _header_params = dict(_params.get("_headers", {}))
        # process the form parameters
        _form_params = []
        _files = {}
        # process the body parameter
        _body_params = None
        if _params["api_request_ask_chartgpt_request"] is not None:
            _body_params = _params["api_request_ask_chartgpt_request"]

        # set the HTTP header `Accept`
        _header_params["Accept"] = self.api_client.select_header_accept(
            ["application/json"]
        )  # noqa: E501

        # set the HTTP header `Content-Type`
        _content_types_list = _params.get(
            "_content_type",
            self.api_client.select_header_content_type(["application/json"]),
        )
        if _content_types_list:
            _header_params["Content-Type"] = _content_types_list

        # authentication setting
        _auth_settings = ["ApiKeyAuth"]  # noqa: E501

        _response_types_map = {
            "200": "Response",
            "400": None,
            "401": None,
            "500": None,
        }

        return self.api_client.call_api(
            "/v1/ask_chartgpt",
            "POST",
            _path_params,
            _query_params,
            _header_params,
            body=_body_params,
            post_params=_form_params,
            files=_files,
            response_types_map=_response_types_map,
            auth_settings=_auth_settings,
            async_req=_params.get("async_req"),
            _return_http_data_only=_params.get("_return_http_data_only"),  # noqa: E501
            _preload_content=_params.get("_preload_content", True),
            _request_timeout=_params.get("_request_timeout"),
            collection_formats=_collection_formats,
            _request_auth=_params.get("_request_auth"),
        )
